.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.from-container {
    width: 400px;
    /* margin: 100px; */
    margin-top: 0px;
    margin-left: 200px;
}

/* .ui.teal.button:focus, .ui.teal.buttons .button:focus {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
} */